# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
### PlayFramework template
# Ignore Play! working directory #
bin/
/db
.eclipse
/lib/
/logs/
/modules
/project/project
/project/target
/target
tmp/
test-result
server.pid
*.eml
/dist/
.cache

### Scala template
*.class
*.log

logs
target
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID
/project
/data/
/scala-fitness-app-1.0